<?xml version="1.0"?>
<ruleset name="BonusHuntGuesser">
  <description>WPCS rules for Bonus Hunt Guesser</description>
  <arg name="extensions" value="php"/>
  <arg name="basepath" value="."/>
  <file>./</file>
  <exclude-pattern>vendor/*</exclude-pattern>
  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="WordPress-Docs"/>
  <config name="report_width" value="120"/>
  <config name="testVersion" value="7.4-"/>
</ruleset>
